body {
    color: #B553BF;
    background-color: #1E1E1E;
} 
.text {
    color: #F9F9F9;
} 
.source {
    color: #F9F9F9;
} 
.comment {
    color: #8A8076;
} 
.string {
    color: #FBA856;
} 
.variable {
    color: #47515D;
} 
.support-other-variable {
    color: #47515D;
} 
.string-other-link {
    color: #47515D;
} 
.string-regexp {
    color: #47515D;
} 
.entity-name-tag {
    color: #47515D;
} 
.meta-tag {
    color: #47515D;
} 
.declaration-tag {
    color: #47515D;
} 
.constant-numeric {
    color: #93A3BF;
} 
.constant-language {
    color: #93A3BF;
} 
.constant-character {
    color: #448AA9;
} 
.constant-other {
    color: #448AA9;
} 
.variable {
    color: #A974AB;
} 
.keyword {
    color: #FBA856;
} 
.storage {
    color: #448AA9;
} 
.storage-type {
    color: #B553BF;
} 
.entity-name-class {
    color: #748096;
} 
.entity-other-inherited-class {
    color: #748096;
} 
.entity-name-function {
    color: #70807B;
} 
.variable-parameter {
    color: #EDEBE6;
} 
.entity-name-tag {
    color: #748096;
} 
.entity-other-attribute-name-html {
    color: #93A3BF;
} 
.entity-other-attribute-name-id-html {
    color: #93A3BF;
} 
.support-function {
    color: #448AA9;
} 
.support-constant {
    color: #80E045;
} 
.support-type {
    color: #748096;
} 
.support-class {
    color: #748096;
} 
.support-other-variable {
} 
.invalid {
    color: #f8f8f0;
    background-color: #00a8c6;
} 
.invalid-deprecated {
    color: #f8f8f0;
    background-color: #00a8c6;
} 
.meta-structure-dictionary-json string-quoted-double-json {
    color: #93A3BF;
} 
.meta-diff {
    color: #75715E;
} 
.meta-diff-header {
    color: #75715E;
} 
.markup-deleted {
    color: #00A8C6;
} 
.markup-inserted {
    color: #A6E22E;
} 
.markup-changed {
    color: #E6DB74;
} 
body {
    color: #8FBE00A0;
} 
body {
    color: #E6DB74;
} 
body {
    color: #605852;
} 
body {
    color: #93A3BF;
} 
body {
    color: #586072;
} 
body {
    color: #0CABC7;
} 
.meta-property-name support-type-property-name {
    color: #748096;
} 
.meta-property-value punctuation-separator-key-value {
    color: #748096;
} 
.keyword-other-use {
    color: #93A3BF;
} 
.keyword-other-function-use {
    color: #93A3BF;
} 
.keyword-other-namespace {
    color: #93A3BF;
} 
.keyword-other-new {
    color: #93A3BF;
} 
.keyword-other-special-method {
    color: #93A3BF;
} 
.keyword-other-unit {
    color: #93A3BF;
} 
.keyword-other-use-as {
    color: #93A3BF;
} 
.meta-use support-class-builtin {
    color: #EDEBE6;
} 
.meta-other-inherited-class support-class-builtin {
    color: #EDEBE6;
} 
.variable-other {
    color: #EDEBE6;
} 
.variable-parameter-function-coffee {
    color: #a5e3d0;
} 
.entity-name-section-markdown {
    color: #748096;
} 
.punctuation-definition-heading-markdown {
    color: #A2A797;
} 
.markup-raw-inline-markdown {
    color: #a5e3d0;
} 
.punctuation-definition-bold-markdown {
    color: #A2A797;
} 
.punctuation-definition-italic-markdown {
    color: #A2A797;
} 
.punctuation-definition-string-begin-markdown {
    color: #A2A797;
} 
.punctuation-definition-string-end-markdown {
    color: #A2A797;
} 
.punctuation-definition-metadata-markdown {
    color: #A2A797;
} 
.markup-underline-link-markdown {
    color: #A2A797;
} 
.markup-underline-link-image-markdown {
    color: #A2A797;
} 
.meta-image-inline-markdown {
    color: #A2A797;
} 
.markup-bold-markdown {
    color: #A2A797;
} 
.markup-italic-markdown {
    color: #A2A797;
} 
.markup-italic-markdown {
} 
.markup-bold-markdown {
} 
.markup-raw-block-markdown {
    color: #00a8c6;
} 
.markup-deleted-git_gutter {
    color: #e61f44;
} 
.markup-inserted-git_gutter {
    color: #a7da1e;
} 
.markup-changed-git_gutter {
    color: #f7b83d;
} 
.entity-class-css {
    color: #F9f9f9;
} 
.entity-other-attribute-name-id-css {
    color: #F9f9f9;
} 
.entity-name-tag-scss {
    color: #F9f9f9;
} 
.entity-other-attribute-name-pseudo-element-css {
    color: #F9f9f9;
} 
.entity-name-tag-reference {
    color: #F9f9f9;
} 
.entity-other-attribute-name-placeholder {
    color: #B553BF;
} 
.property-name-scss {
    color: #748096;
} 
.property-name-css {
    color: #748096;
} 
.punctuation-section-property-list-begin-scss {
    color: #E3EDFF;
} 
