body {
    color: #3B3B3B;
    background-color: #FFFFFF;
} 
.text-html source-active4d {
    background-color: #E2E9FF5E;
} 
.text-xml {
    color: #000000;
} 
.comment-line {
    color: #AF82D4;
} 
.comment-block {
    color: #AF82D4;
} 
.string {
    color: #666666;
} 
.string-interpolated variable {
    color: #66CCFF;
} 
.constant-numeric {
    color: #A8017E;
} 
.constant-character {
} 
.constant-other {
} 
.constant-other-date {
    color: #66CCFF;
} 
.constant-other-time {
    color: #66CCFF;
} 
.constant-language {
    color: #A535AE;
} 
.variable-other-local {
    color: #6392FF;
} 
.variable {
    color: #0053FF;
} 
.variable-other-table-field {
    color: #6988AE;
} 
.keyword {
    color: #006699;
} 
.keyword-operator {
} 
.storage {
    color: #FF5600;
} 
.entity-name-type {
    color: #21439C;
} 
.entity-other-inherited-class {
} 
.entity-name-function {
    color: #21439C;
} 
.variable-parameter {
} 
.meta-tag {
    color: #7A7A7A;
} 
.entity-name-tag {
    color: #016CFF;
} 
.entity-other-attribute-name {
    color: #963DFF;
} 
.support-function {
    color: #45AE34;
} 
.support-constant {
    color: #B7734C;
} 
.support-type {
    color: #A535AE;
} 
.support-class {
    color: #A535AE;
} 
.support-variable {
    color: #A535AE;
} 
.invalid {
    color: #FFFFFF;
    background-color: #990000;
} 
.meta-diff {
    color: #FFFFFF;
    background-color: #656565;
} 
.meta-diff-range {
    color: #FFFFFF;
    background-color: #1B63FF;
} 
.markup-deleted-diff {
    color: #000000;
    background-color: #FF7880;
} 
.markup-inserted-diff {
    color: #000000;
    background-color: #98FF9A;
} 
.source-diff {
    color: #5E5E5E;
} 
