body {
    color: #000000;
    background-color: #FFFFFF;
} 
.jc-comment {
    color: #804000;
} 
.jc-keyword {
    color: #0000FF;
} 
.jc-storage {
    color: #0000FF;
} 
.jc-constant-numeric {
    color: #FF0080;
} 
.jc-string {
    color: #FF0080;
} 
.jc-constant {
    color: #C5060B;
} 
.jc-constant-language {
    color: #004080;
} 
.jc-variable-language {
    color: #006600;
} 
.jc-variable-other {
    color: #006600;
} 
.jc-constant-character-escaped {
    color: #33CC33;
} 
.jc-constant-character-escape {
    color: #33CC33;
} 
.jc-string source {
    color: #33CC33;
} 
.jc-other-preprocessor {
    color: #1A921C;
} 
.jc-entity-name-preprocessor {
    color: #0C450D;
} 
.jc-entity-name-function {
    color: #0000A2;
} 
.jc-keyword-other-name-of-parameter-objc {
    color: #0000A2;
} 
.jc-entity-name-class {
} 
.jc-entity-other-inherited-class {
} 
.jc-variable-parameter {
} 
.jc-storage-type-method {
    color: #70727E;
} 
.jc-meta-section entity-name-section {
} 
.jc-declaration-section entity-name-section {
} 
.jc-support-function {
    color: #0000FF;
} 
.jc-support-class {
    color: #6D79DE;
} 
.jc-support-type {
    color: #6D79DE;
} 
.jc-support-constant {
    color: #06960E;
} 
.jc-support-other-variable {
    color: #21439C;
} 
.jc-keyword-operator-js {
    color: #687687;
} 
.jc-invalid {
    color: #FFFFFF;
    background-color: #990000;
} 
.jc-invalid-trailing-whitespace {
    background-color: #FFD0D0;
} 
.jc-text source {
    background-color: #427FF51A;
} 
.jc-string-unquoted {
    background-color: #427FF51A;
} 
.jc-meta-xml-processing {
    color: #68685B;
} 
.jc-declaration-xml-processing {
    color: #68685B;
} 
.jc-meta-doctype {
    color: #888888;
} 
.jc-declaration-doctype {
    color: #888888;
} 
.jc-meta-doctype-DTD {
} 
.jc-declaration-doctype-DTD {
} 
.jc-meta-tag {
    color: #1C02FF;
} 
.jc-declaration-tag {
    color: #1C02FF;
} 
.jc-entity-name-tag {
} 
.jc-entity-other-attribute-name {
} 
.jc-markup-heading {
    color: #0C07FF;
} 
.jc-markup-quote {
    color: #000000;
} 
.jc-markup-list {
    color: #B90690;
} 
