body {
    color: #FFFFFF;
    background-color: #000000;
} 
.jc-text {
    color: #B4D3E2;
    background-color: #00000000;
} 
.jc-source {
    color: #FFFFFF;
    background-color: #00000000;
} 
.jc-comment {
    color: #428BDD;
} 
.jc-constant {
    color: #8AA6C1;
} 
.jc-keyword {
    color: #8AA6C1;
} 
.jc-keyword-control {
    color: #F8BB00;
} 
.jc-storage {
    color: #80D500;
} 
.jc-other-preprocessor-c {
    color: #B6B9F9;
    background-color: #00000000;
} 
.jc-variable-parameter {
    color: #8AA6C1;
} 
.jc-source comment-block {
    color: #438AD7;
    background-color: #00000000;
} 
.jc-string {
    color: #CC66FF;
} 
.jc-string constant {
    color: #FF2837;
} 
.jc-string-interpolated {
    color: #FF7819;
    background-color: #E9CC4600;
} 
.jc-string-regexp {
    color: #CA4344;
} 
.jc-string-regexp constant {
    color: #FF9D00;
} 
.jc-string-literal {
    color: #E2CE00;
} 
.jc-constant-numeric {
    color: #EDDD5A;
} 
.jc-constant-other {
    color: #80D500;
} 
.jc-keyword-operator {
    color: #FFFFFF;
} 
.jc-invalid {
    color: #FFFFFF;
    background-color: #670000;
} 
.jc-entity-name-class {
} 
.jc-entity-other-inherited-class {
} 
.jc-entity-name-tag {
    color: #FFFFFF;
} 
.jc-entity-other-attribute-name {
    color: #FFFFFF;
} 
.jc-meta-selector-css {
    color: #B53B3C;
} 
.jc-entity-other-attribute-name-pseudo-class-css {
    color: #B53B3C;
} 
.jc-entity-name-tag-wildcard-css {
    color: #B53B3C;
} 
.jc-entity-other-attribute-name-id-css {
    color: #B53B3C;
} 
.jc-entity-other-attribute-name-class-css {
    color: #B53B3C;
} 
.jc-support-type-property-name-css {
    color: #8AA6C1;
} 
.jc-meta-diff {
    background-color: #0E2231;
} 
.jc-meta-diff-header {
    background-color: #0E2231;
} 
.jc-markup-inserted {
    background-color: #253B22;
} 
.jc-markup-changed {
    background-color: #4A410D;
} 
.jc-markup-deleted {
    background-color: #420E09;
} 
