body {
    color: #E0E0E0;
    background-color: #06071DFA;
} 
.jc-comment {
    color: #AEAEAE;
} 
.jc-constant {
    color: #62E9BD;
} 
.jc-entity {
    color: #A3EBFF;
} 
.jc-keyword {
    color: #2BF1DC;
} 
.jc-storage {
    color: #F8FBB1;
} 
.jc-string {
    color: #8DFF8E;
} 
.jc-meta-verbatim {
    color: #8DFF8E;
} 
.jc-support {
    color: #60A4F1;
} 
.jc-variable {
    color: #B683CA;
} 
.jc-invalid-deprecated {
    color: #AB2A1D;
} 
.jc-invalid-illegal {
    color: #F8F8F8;
    background-color: #AD2117;
} 
.jc-entity-other-inherited-class {
    color: #61FFD2;
} 
.jc-string constant-other-placeholder {
    color: #92FFA3;
} 
.jc-meta-function-call-py {
    color: #BECDE6;
} 
.jc-meta-tag {
    color: #7BACCA;
} 
.jc-meta-tag entity {
    color: #7BACCA;
} 
.jc-entity-name-section {
    color: #FFFFFF;
} 
.jc-keyword-type-variant {
    color: #D5E0F3;
} 
.jc-source-ocaml keyword-operator-symbol {
    color: #F8F8F8;
} 
.jc-source-ocaml keyword-operator-symbol-infix {
    color: #8DA6CE;
} 
.jc-source-ocaml keyword-operator-symbol-prefix {
    color: #8DA6CE;
} 
.jc-source-ocaml keyword-operator-symbol-infix-floating-point {
} 
.jc-source-ocaml keyword-operator-symbol-prefix-floating-point {
} 
.jc-source-ocaml constant-numeric-floating-point {
} 
.jc-text-latex meta-environment {
    background-color: #FFFFFF08;
} 
.jc-text-latex meta-environment meta-environment {
    background-color: #7A96FA08;
} 
.jc-text-latex support-function {
    color: #FBDE2D;
} 
.jc-source-plist string-unquoted {
    color: #FFFFFF;
} 
.jc-source-plist keyword-operator {
    color: #FFFFFF;
} 
