body {
    color: #FFEDC5;
    background-color: #010304;
} 
.jc-comment {
    color: #8E8D93;
} 
.jc-constant {
    color: #FF4A1A;
} 
.jc-entity {
    color: #C6FF3E;
} 
.jc-keyword {
    color: #FF4A1A;
} 
.jc-storage {
    color: #B4CCE4;
} 
.jc-string {
    color: #FF9924;
} 
.jc-support {
    color: #FF4A1A;
} 
.jc-variable {
    color: #FF4A1A;
} 
.jc-invalid-deprecated {
    color: #FD5FF1;
} 
.jc-invalid-illegal {
    color: #FD5FF1;
    background-color: #562D56BF;
} 
.jc-text source {
    background-color: #B1B3BA08;
} 
.jc-entity-other-inherited-class {
    color: #9B5C2E;
} 
.jc-string-quoted source {
    color: #DAEFA3;
} 
.jc-string constant {
    color: #DDF2A4;
} 
.jc-string-regexp {
    color: #E9C062;
} 
.jc-string-regexp constant-character-escape {
    color: #CF7D34;
} 
.jc-string-regexp source-ruby-embedded {
    color: #CF7D34;
} 
.jc-string-regexp string-regexp-arbitrary-repitition {
    color: #CF7D34;
} 
.jc-string variable {
    color: #8A9A95;
} 
.jc-support-function {
    color: #DAD085;
} 
.jc-support-constant {
    color: #CF6A4C;
} 
.jc-meta-preprocessor-c {
    color: #8996A8;
} 
.jc-meta-preprocessor-c keyword {
    color: #AFC4DB;
} 
.jc-entity-name-type {
} 
.jc-meta-cast {
    color: #676767;
} 
.jc-meta-sgml-html meta-doctype {
    color: #494949;
} 
.jc-meta-sgml-html meta-doctype entity {
    color: #494949;
} 
.jc-meta-sgml-html meta-doctype string {
    color: #494949;
} 
.jc-meta-xml-processing {
    color: #494949;
} 
.jc-meta-xml-processing entity {
    color: #494949;
} 
.jc-meta-xml-processing string {
    color: #494949;
} 
.jc-meta-tag {
    color: #89BDFF;
} 
.jc-meta-tag entity {
    color: #89BDFF;
} 
.jc-source entity-name-tag {
    color: #E0C589;
} 
.jc-source entity-other-attribute-name {
    color: #E0C589;
} 
.jc-meta-tag-inline {
    color: #E0C589;
} 
.jc-meta-tag-inline entity {
    color: #E0C589;
} 
.jc-entity-name-tag-namespace {
    color: #E18964;
} 
.jc-entity-other-attribute-name-namespace {
    color: #E18964;
} 
.jc-meta-selector-css entity-name-tag {
    color: #CDA869;
} 
.jc-meta-selector-css entity-other-attribute-name-tag-pseudo-class {
    color: #8F9D6A;
} 
.jc-meta-selector-css entity-other-attribute-name-id {
    color: #8B98AB;
} 
.jc-meta-selector-css entity-other-attribute-name-class {
    color: #9B703F;
} 
.jc-support-type-property-name-css {
    color: #C5AF75;
} 
.jc-meta-property-group support-constant-property-value-css {
    color: #F9EE98;
} 
.jc-meta-property-value support-constant-property-value-css {
    color: #F9EE98;
} 
.jc-meta-preprocessor-at-rule keyword-control-at-rule {
    color: #8693A5;
} 
.jc-meta-property-value support-constant-named-color-css {
    color: #DD7B3B;
} 
.jc-meta-property-value constant {
    color: #DD7B3B;
} 
.jc-meta-constructor-argument-css {
    color: #8F9D6A;
} 
.jc-meta-diff {
    color: #F8F8F8;
    background-color: #0E2231;
} 
.jc-meta-diff-header {
    color: #F8F8F8;
    background-color: #0E2231;
} 
.jc-markup-deleted {
    color: #F8F8F8;
    background-color: #420E09;
} 
.jc-markup-changed {
    color: #F8F8F8;
    background-color: #4A410D;
} 
.jc-markup-inserted {
    color: #F8F8F8;
    background-color: #253B22;
} 
.jc-markup-italic {
    color: #E9C062;
} 
.jc-markup-bold {
    color: #E9C062;
} 
.jc-markup-underline {
    color: #E18964;
} 
.jc-markup-quote {
    color: #E1D4B9;
    background-color: #FEE09C12;
} 
.jc-markup-heading {
    color: #FEDCC5;
    background-color: #632D04;
} 
.jc-markup-heading entity {
    color: #FEDCC5;
    background-color: #632D04;
} 
.jc-markup-list {
    color: #E1D4B9;
} 
.jc-markup-raw {
    color: #578BB3;
    background-color: #B1B3BA08;
} 
.jc-markup comment {
    color: #F67B37;
} 
.jc-meta-separator {
    color: #60A633;
    background-color: #242424;
} 
.jc-meta-line-entry-logfile {
    background-color: #EEEEEE29;
} 
.jc-meta-line-exit-logfile {
    background-color: #EEEEEE29;
} 
.jc-meta-line-error-logfile {
    background-color: #751012;
} 
