body {
    color: #CFCFCF;
    background-color: #0B0A0A;
} 
.jc-comment {
    color: #44444E;
} 
.jc-comment-block {
    color: #44444E;
} 
.jc-constant {
    color: #C0A368;
} 
.jc-entity {
    color: #E16521;
} 
.jc-keyword-operator {
    color: #988155;
} 
.jc-keyword {
    color: #DBB800;
} 
.jc-constant-numeric {
    color: #D3C788;
} 
.jc-storage {
    color: #F6F080;
} 
.jc-string {
    color: #4D6537;
} 
.jc-support {
    color: #7D6C55;
} 
.jc-variable {
    color: #AE5251;
} 
.jc-invalid {
    color: #F8F8F8;
    background-color: #D8290DBF;
} 
.jc-text source {
    color: #705393;
    background-color: #B0B3BA14;
} 
.jc-text-html-ruby source {
    color: #5F4482;
    background-color: #B1B3BA21;
} 
.jc-entity-other-inherited-class {
    color: #783301;
} 
.jc-string-quoted source {
    color: #8F8B63;
} 
.jc-string constant {
    color: #707576;
} 
.jc-string-regexp {
    color: #364627;
} 
.jc-string variable {
    color: #EDEF7D;
} 
.jc-support-function {
    color: #935E29;
} 
.jc-support-constant {
    color: #EBAC47;
} 
.jc-other-preprocessor-c {
    color: #8996A8;
} 
.jc-other-preprocessor-c entity {
    color: #AFC4DB;
} 
.jc-declaration-sgml-html declaration-doctype {
    color: #73817D;
} 
.jc-declaration-sgml-html declaration-doctype entity {
    color: #73817D;
} 
.jc-declaration-sgml-html declaration-doctype string {
    color: #73817D;
} 
.jc-declaration-xml-processing {
    color: #73817D;
} 
.jc-declaration-xml-processing entity {
    color: #73817D;
} 
.jc-declaration-xml-processing string {
    color: #73817D;
} 
.jc-declaration-tag {
    color: #AAD7EF;
} 
.jc-declaration-tag entity {
    color: #AAD7EF;
} 
.jc-meta-tag {
    color: #AAD7EF;
} 
.jc-meta-tag entity {
    color: #AAD7EF;
} 
.jc-meta-diff {
    color: #F8F8F8;
    background-color: #0E2231;
} 
.jc-meta-diff-header {
    color: #F8F8F8;
    background-color: #0E2231;
} 
.jc-markup-deleted {
    color: #F8F8F8;
    background-color: #D03620;
} 
.jc-markup-changed {
    color: #F8F8F8;
    background-color: #C4B14A;
} 
.jc-markup-inserted {
    color: #F8F8F8;
    background-color: #41A83E;
} 
