body {
    color: #FAFAFA;
    background-color: #2B2D2E;
} 
.jc-comment {
    color: #535353;
    background-color: #212223;
} 
.jc-string {
    color: #5F88B8;
    background-color: #010A2E40;
} 
.jc-constant-numeric {
    color: #E5DA39;
} 
.jc-constant-language {
    color: #D56E26;
} 
.jc-constant-character {
    color: #E5DA39;
} 
.jc-constant-other {
    color: #E5DA39;
} 
.jc-variable-language {
    color: #55A9DB;
} 
.jc-variable-other {
    color: #55A9DB;
} 
.jc-keyword {
    color: #62BA4D;
} 
.jc-storage {
} 
.jc-entity-name-class {
} 
.jc-entity-other-inherited-class {
} 
.jc-entity-name-function {
    color: #A3A3A3;
} 
.jc-keyword-operator {
    color: #A3A3A3;
} 
.jc-keyword-other-name-of-parameter {
    color: #A3A3A3;
} 
.jc-variable-parameter {
} 
.jc-entity-name-tag {
} 
.jc-entity-other-attribute-name {
} 
.jc-support-function {
    color: #66FFCC;
} 
.jc-support-constant {
} 
.jc-support-type {
} 
.jc-support-class {
} 
.jc-support-other-variable {
} 
.jc-invalid {
} 
.jc-support-class {
    color: #5F88B8;
} 
.jc-support-type {
    color: #5F88B8;
} 
.jc-entity-name {
    color: #5F88B8;
} 
.jc-string-unquoted-embedded {
    background-color: #00162B40;
} 
.jc-text source {
    background-color: #00162B40;
} 
.jc-string-unquoted {
    background-color: #00162B40;
} 
.jc-constant-character-escaped {
    color: #999999;
} 
.jc-string source - string-unquoted-embedded {
    color: #999999;
} 
.jc-string string source {
    color: #999999;
} 
