body {
    color: #586E75;
    background-color: #FDF6E3;
} 
.jc-comment {
    color: #93A1A1;
} 
.jc-string {
    color: #2AA198;
} 
.jc-string {
    color: #586E75;
} 
.jc-string-regexp {
    color: #D30102;
} 
.jc-constant-numeric {
    color: #D33682;
} 
.jc-variable-language {
    color: #268BD2;
} 
.jc-variable-other {
    color: #268BD2;
} 
.jc-keyword {
    color: #859900;
} 
.jc-storage {
    color: #073642;
} 
.jc-entity-name-class {
    color: #268BD2;
} 
.jc-entity-name-type-class {
    color: #268BD2;
} 
.jc-entity-name-function {
    color: #268BD2;
} 
.jc-punctuation-definition-variable {
    color: #859900;
} 
.jc-punctuation-section-embedded-begin {
    color: #D30102;
} 
.jc-punctuation-section-embedded-end {
    color: #D30102;
} 
.jc-constant-language {
    color: #B58900;
} 
.jc-meta-preprocessor {
    color: #B58900;
} 
.jc-support-function-construct {
    color: #D30102;
} 
.jc-keyword-other-new {
    color: #D30102;
} 
.jc-constant-character {
    color: #CB4B16;
} 
.jc-constant-other {
    color: #CB4B16;
} 
.jc-entity-other-inherited-class {
} 
.jc-variable-parameter {
} 
.jc-entity-name-tag {
    color: #268BD2;
} 
.jc-punctuation-definition-tag-begin {
    color: #93A1A1;
} 
.jc-punctuation-definition-tag-end {
    color: #93A1A1;
} 
.jc-entity-other-attribute-name {
    color: #93A1A1;
} 
.jc-support-function {
    color: #268BD2;
} 
.jc-punctuation-separator-continuation {
    color: #D30102;
} 
.jc-support-constant {
} 
.jc-support-type {
    color: #859900;
} 
.jc-support-class {
    color: #859900;
} 
.jc-support-type-exception {
    color: #CB4B16;
} 
.jc-keyword-other-special-method {
    color: #CB4B16;
} 
.jc-support-other-variable {
} 
.jc-invalid {
} 
.jc-string-quoted-double {
    color: #269186;
} 
.jc-string-quoted-single {
    color: #269186;
} 
.jc-punctuation-definition-string-begin {
    color: #C60000;
} 
.jc-punctuation-definition-string-end {
    color: #C60000;
} 
.jc-entity-name-tag-css {
    color: #A57800;
} 
.jc-support-type-property-name-css {
    color: #A57800;
} 
.jc-meta-property-name-css {
    color: #A57800;
} 
.jc-source-css {
    color: #D01F1E;
} 
.jc-meta-selector-css {
    color: #536871;
} 
.jc-punctuation-section-property-list-css {
    color: #5A74CF;
} 
.jc-meta-property-value-css constant-numeric-css {
    color: #269186;
} 
.jc-keyword-other-unit-css {
    color: #269186;
} 
.jc-constant-other-color-rgb-value-css {
    color: #269186;
} 
.jc-meta-property-value-css {
    color: #269186;
} 
.jc-keyword-other-important-css {
    color: #D01F1E;
} 
.jc-support-constant-color {
    color: #269186;
} 
.jc-entity-name-tag-css {
    color: #738A13;
} 
.jc-punctuation-separator-key-value-css {
    color: #536871;
} 
.jc-punctuation-terminator-rule-css {
    color: #536871;
} 
.jc-entity-other-attribute-name-class-css {
    color: #1F74CF;
} 
.jc-entity-other-attribute-name-pseudo-element-css {
    color: #BD3800;
} 
.jc-entity-other-attribute-name-pseudo-class-css {
    color: #BD3800;
} 
.jc-entity-other-attribute-name-id-css {
    color: #1F74CF;
} 
.jc-meta-function-js {
    color: #A57800;
} 
.jc-entity-name-function-js {
    color: #A57800;
} 
.jc-support-function-dom-js {
    color: #A57800;
} 
.jc-text-html-basic source-js-embedded-html {
    color: #A57800;
} 
.jc-storage-type-function-js {
    color: #268BD2;
} 
.jc-constant-numeric-js {
    color: #269186;
} 
.jc-meta-brace-square-js {
    color: #1F74CF;
} 
.jc-storage-type-js {
    color: #1F74CF;
} 
.jc-meta-brace-round {
    color: #93A1A1;
} 
.jc-punctuation-definition-parameters-begin-js {
    color: #93A1A1;
} 
.jc-punctuation-definition-parameters-end-js {
    color: #93A1A1;
} 
.jc-meta-brace-curly-js {
    color: #1F74CF;
} 
.jc-entity-name-tag-doctype-html {
    color: #899090;
} 
.jc-meta-tag-sgml-html {
    color: #899090;
} 
.jc-string-quoted-double-doctype-identifiers-and-DTDs-html {
    color: #899090;
} 
.jc-entity-name-tag-script-html {
} 
.jc-source-css-embedded-html string-quoted-double-html {
    color: #269186;
} 
.jc-text-html-ruby {
    color: #BD3800;
} 
.jc-punctuation-definition-tag-html {
    color: #819090;
} 
.jc-text-html-basic meta-tag-other-html {
    color: #708284;
} 
.jc-text-html-basic meta-tag-any-html {
    color: #708284;
} 
.jc-text-html-basic meta-tag-block-any {
    color: #708284;
} 
.jc-text-html-basic meta-tag-inline-any {
    color: #708284;
} 
.jc-text-html-basic meta-tag-structure-any-html {
    color: #708284;
} 
.jc-text-html-basic source-js-embedded-html {
    color: #708284;
} 
.jc-punctuation-separator-key-value-html {
    color: #708284;
} 
.jc-text-html-basic entity-other-attribute-name-html {
    color: #708284;
} 
.jc-text-html-basic meta-tag-structure-any-html punctuation-definition-string-begin-html {
    color: #269186;
} 
.jc-punctuation-definition-string-begin-html {
    color: #269186;
} 
.jc-punctuation-definition-string-end-html {
    color: #269186;
} 
.jc-entity-name-tag-block-any-html {
    color: #1F74CF;
} 
.jc-text-html-basic {
    color: #BD3800;
} 
.jc-entity-name-tag-style-html {
} 
.jc-text-html-basic punctuation-section-property-list-css {
} 
.jc-source-css-embedded-html {
    color: #819090;
} 
.jc-comment-block-html {
    color: #819090;
} 
.jc-punctuation-definition-variable-ruby {
    color: #268BD2;
} 
.jc-meta-function-method-with-arguments-ruby {
    color: #485A62;
} 
.jc-variable-language-ruby {
    color: #469186;
} 
.jc-entity-name-function-ruby {
    color: #1F74CF;
} 
.jc-keyword-control-ruby {
    color: #475B63;
} 
.jc-keyword-control-def-ruby {
    color: #475B63;
} 
.jc-keyword-control-class-ruby {
    color: #748B00;
} 
.jc-meta-class-ruby {
    color: #748B00;
} 
.jc-entity-name-type-class-ruby {
    color: #A57800;
} 
.jc-keyword-control-ruby {
    color: #748B00;
} 
.jc-support-class-ruby {
    color: #A57800;
} 
.jc-keyword-other-special-method-ruby {
    color: #748B00;
} 
.jc-constant-language-ruby {
    color: #269186;
} 
.jc-constant-numeric-ruby {
    color: #269186;
} 
.jc-variable-other-constant-ruby {
    color: #A57800;
} 
.jc-constant-other-symbol-ruby {
    color: #269186;
} 
.jc-punctuation-section-embedded-ruby {
    color: #D01F1E;
} 
.jc-punctuation-definition-string-begin-ruby {
    color: #D01F1E;
} 
.jc-punctuation-definition-string-end-ruby {
    color: #D01F1E;
} 
.jc-keyword-other-special-method-ruby {
    color: #BD3800;
} 
.jc-keyword-control-import-include-php {
    color: #BD3800;
} 
.jc-text-html-ruby meta-tag-inline-any-html {
    color: #819090;
} 
.jc-text-html-ruby punctuation-definition-string-begin {
    color: #269186;
} 
.jc-text-html-ruby punctuation-definition-string-end {
    color: #269186;
} 
.jc-punctuation-definition-string-begin {
    color: #536871;
} 
.jc-punctuation-definition-string-end {
    color: #536871;
} 
.jc-keyword-operator-index-start-php {
    color: #D31E1E;
} 
.jc-keyword-operator-index-end-php {
    color: #D31E1E;
} 
.jc-meta-array-php {
    color: #536871;
} 
.jc-support-function-construct-php {
    color: #A57800;
} 
.jc-punctuation-definition-array-begin {
    color: #D31E1E;
} 
.jc-punctuation-definition-array-end {
    color: #D31E1E;
} 
.jc-constant-numeric-php {
    color: #269186;
} 
.jc-support-class-php {
    color: #536871;
} 
.jc-keyword-operator-class {
    color: #536871;
} 
.jc-variable-other-property-php {
    color: #899090;
} 
.jc-storage-modifier-extends-php {
    color: #A57800;
} 
.jc-storage-type-class-php {
    color: #A57800;
} 
.jc-keyword-operator-class-php {
    color: #A57800;
} 
.jc-meta-other-inherited-class-php {
    color: #536871;
} 
.jc-storage-type-php {
    color: #748B00;
} 
.jc-entity-name-function-php {
    color: #899090;
} 
.jc-support-function-construct-php {
    color: #748B00;
} 
.jc-entity-name-type-class-php {
    color: #536871;
} 
.jc-meta-function-call-php {
    color: #536871;
} 
.jc-meta-function-call-static-php {
    color: #536871;
} 
.jc-meta-function-call-object-php {
    color: #536871;
} 
.jc-keyword-other-phpdoc {
    color: #899090;
} 
.jc-source-php-embedded-block-html {
    color: #BD3613;
} 
.jc-storage-type-function-php {
    color: #BD3800;
} 
.jc-constant-numeric-c {
    color: #269186;
} 
.jc-meta-preprocessor-c-include {
    color: #BB3700;
} 
.jc-meta-preprocessor-macro-c {
    color: #BB3700;
} 
.jc-keyword-control-import-define-c {
    color: #BB3700;
} 
.jc-keyword-control-import-include-c {
    color: #BB3700;
} 
.jc-entity-name-function-preprocessor-c {
    color: #BB3700;
} 
.jc-meta-preprocessor-c-include string-quoted-other-lt-gt-include-c {
    color: #269186;
} 
.jc-meta-preprocessor-c-include punctuation-definition-string-begin-c {
    color: #269186;
} 
.jc-meta-preprocessor-c-include punctuation-definition-string-end-c {
    color: #269186;
} 
.jc-support-function-C99-c {
    color: #536871;
} 
.jc-support-function-any-method-c {
    color: #536871;
} 
.jc-entity-name-function-c {
    color: #536871;
} 
.jc-punctuation-definition-string-begin-c {
    color: #269186;
} 
.jc-punctuation-definition-string-end-c {
    color: #269186;
} 
.jc-storage-type-c {
    color: #A57800;
} 
.jc-meta-diff {
    color: #E0EDDD;
    background-color: #A57706;
} 
.jc-meta-diff-header {
    color: #E0EDDD;
    background-color: #A57706;
} 
.jc-markup-deleted {
    color: #D3201F;
    background-color: #EAE3CA;
} 
.jc-markup-changed {
    color: #BF3904;
    background-color: #EAE3CA;
} 
.jc-markup-inserted {
    color: #219186;
    background-color: #EAE3CA;
} 
.jc-text-html-markdown meta-dummy-line-break {
    color: #E0EDDD;
    background-color: #A57706;
} 
.jc-text-html-markdown markup-raw-inline {
    color: #269186;
} 
.jc-text-restructuredtext markup-raw {
    color: #269186;
} 
.jc-other-package-exclude {
    color: #D3201F;
} 
.jc-other-remove {
    color: #D3201F;
} 
.jc-other-add {
    color: #269186;
} 
.jc-punctuation-section-group-tex {
    color: #B81D1C;
} 
.jc-punctuation-definition-arguments-begin-latex {
    color: #B81D1C;
} 
.jc-punctuation-definition-arguments-end-latex {
    color: #B81D1C;
} 
.jc-punctuation-definition-arguments-latex {
    color: #B81D1C;
} 
.jc-meta-group-braces-tex {
    color: #A57705;
} 
.jc-string-other-math-tex {
    color: #A57705;
} 
.jc-variable-parameter-function-latex {
    color: #BD3800;
} 
.jc-punctuation-definition-constant-math-tex {
    color: #D01F1E;
} 
.jc-text-tex-latex constant-other-math-tex {
    color: #269186;
} 
.jc-constant-other-general-math-tex {
    color: #269186;
} 
.jc-constant-other-general-math-tex {
    color: #269186;
} 
.jc-constant-character-math-tex {
    color: #269186;
} 
.jc-string-other-math-tex {
    color: #A57800;
} 
.jc-punctuation-definition-string-begin-tex {
    color: #D3201F;
} 
.jc-punctuation-definition-string-end-tex {
    color: #D3201F;
} 
.jc-keyword-control-label-latex {
    color: #269186;
} 
.jc-text-tex-latex constant-other-general-math-tex {
    color: #269186;
} 
.jc-variable-parameter-definition-label-latex {
    color: #D01F1E;
} 
.jc-support-function-be-latex {
    color: #748B00;
} 
.jc-support-function-section-latex {
    color: #BD3800;
} 
.jc-support-function-general-tex {
    color: #269186;
} 
.jc-punctuation-definition-comment-tex {
} 
.jc-comment-line-percentage-tex {
} 
.jc-keyword-control-ref-latex {
    color: #269186;
} 
.jc-storage-type-class-python {
    color: #748B00;
} 
.jc-storage-type-function-python {
    color: #748B00;
} 
.jc-storage-modifier-global-python {
    color: #748B00;
} 
.jc-keyword-control-import-python {
    color: #BD3800;
} 
.jc-keyword-control-import-from-python {
    color: #BD3800;
} 
.jc-support-type-exception-python {
    color: #A57800;
} 
.jc-support-function-builtin-shell {
    color: #748B00;
} 
.jc-variable-other-normal-shell {
    color: #BD3800;
} 
.jc-source-shell {
    color: #1F74CF;
} 
.jc-meta-scope-for-in-loop-shell {
    color: #536871;
} 
.jc-variable-other-loop-shell {
    color: #536871;
} 
.jc-punctuation-definition-string-end-shell {
    color: #748B00;
} 
.jc-punctuation-definition-string-begin-shell {
    color: #748B00;
} 
.jc-meta-scope-case-block-shell {
    color: #536871;
} 
.jc-meta-scope-case-body-shell {
    color: #536871;
} 
.jc-punctuation-definition-logical-expression-shell {
    color: #CD1E1D;
} 
.jc-comment-line-number-sign-shell {
} 
.jc-keyword-other-import-java {
    color: #BD3800;
} 
.jc-storage-modifier-import-java {
    color: #586E75;
} 
.jc-meta-class-java storage-modifier-java {
    color: #A57800;
} 
.jc-source-java comment-block {
    color: #536871;
} 
.jc-comment-block meta-documentation-tag-param-javadoc keyword-other-documentation-param-javadoc {
    color: #536871;
} 
