body {
    color: #303436;
    background-color: #FFFFFF;
} 
.jc-comment {
    color: #555753;
} 
.jc-keyword {
    color: #303436;
} 
.jc-storage {
    color: #303436;
} 
.jc-constant-numeric {
    color: #4F9B00;
} 
.jc-constant {
    color: #194A87;
} 
.jc-constant-language {
    color: #194A87;
} 
.jc-variable-language {
    color: #194A87;
} 
.jc-variable-other {
    color: #194A87;
} 
.jc-string {
    color: #A70000;
} 
.jc-constant-character-escape {
    color: #A70000;
} 
.jc-string source {
    color: #A70000;
} 
.jc-meta-preprocessor {
    color: #65961E;
} 
.jc-keyword-control-import {
    color: #65961E;
} 
.jc-entity-name-function {
    color: #5C3566;
} 
.jc-support-function-any-method {
    color: #5C3566;
} 
.jc-entity-name-type {
} 
.jc-entity-other-inherited-class {
} 
.jc-variable-parameter {
} 
.jc-storage-type-method {
    color: #70727E;
} 
.jc-meta-section entity-name-section {
} 
.jc-declaration-section entity-name-section {
} 
.jc-support-function {
    color: #3C4C72;
} 
.jc-support-class {
    color: #D15B00;
} 
.jc-support-type {
    color: #D15B00;
} 
.jc-support-constant {
    color: #529C08;
} 
.jc-support-variable {
    color: #2E65A5;
} 
.jc-keyword-operator-js {
    color: #687687;
} 
.jc-invalid {
    color: #FFFFFF;
    background-color: #990000;
} 
.jc-invalid-deprecated-trailing-whitespace {
    background-color: #FFD0D0;
} 
.jc-text source {
    background-color: #0000000D;
} 
.jc-string-unquoted {
    background-color: #0000000D;
} 
.jc-text source string-unquoted {
    background-color: #0000000F;
} 
.jc-text source text source {
    background-color: #0000000F;
} 
.jc-meta-tag-preprocessor-xml {
    color: #68685B;
} 
.jc-meta-tag-sgml-doctype {
    color: #888888;
} 
.jc-meta-tag-sgml-doctype entity {
    color: #888888;
} 
.jc-meta-tag-sgml-doctype string {
    color: #888888;
} 
.jc-meta-tag-preprocessor-xml {
    color: #888888;
} 
.jc-meta-tag-preprocessor-xml entity {
    color: #888888;
} 
.jc-meta-tag-preprocessor-xml string {
    color: #888888;
} 
.jc-string-quoted-docinfo-doctype-DTD {
} 
.jc-meta-tag {
    color: #4266A0;
} 
.jc-declaration-tag {
    color: #4266A0;
} 
.jc-entity-name-tag {
} 
.jc-entity-other-attribute-name {
} 
.jc-markup-heading {
    color: #4266A0;
} 
.jc-markup-quote {
    color: #000000;
} 
.jc-markup-list {
    color: #B90690;
} 
