body {
    color: #404040;
    background-color: #FFFFFF;
} 
.jc-comment {
    color: #A49DA5;
    background-color: #A49DA51A;
} 
.jc-constant {
    color: #B23F1E;
    background-color: #B23F1D12;
} 
.jc-entity {
    color: #D15120;
    background-color: #D1512017;
} 
.jc-keyword {
    color: #CF7900;
    background-color: #CF79010F;
} 
.jc-storage {
    color: #D2AD00;
    background-color: #BE99001A;
} 
.jc-string {
    color: #5F9411;
    background-color: #5F94101A;
} 
.jc-support {
    color: #A66BAB;
    background-color: #A66BAA1A;
} 
.jc-variable {
    color: #6B82A7;
    background-color: #6B82A71A;
} 
.jc-invalid-deprecated {
    color: #9C7D77;
} 
.jc-invalid-illegal {
    color: #F8F8F8;
    background-color: #996896FC;
} 
.jc-text source {
    color: #356187FC;
    background-color: #589ED900;
} 
.jc-text-html-ruby source {
    color: #4E8FC6;
    background-color: #4E8EC61C;
} 
.jc-entity-other-inherited-class {
    color: #9B5C2E;
    background-color: #FFFFFF;
} 
.jc-string source {
    color: #A3B27A;
    background-color: #FFFFFF;
} 
.jc-string constant {
    color: #99A971;
    background-color: #F3FAE1;
} 
.jc-string-regexp {
    color: #32986F;
    background-color: #32986F0D;
} 
.jc-string-regexp constant-character-escape {
    color: #157F88;
    background-color: #DDF5EF;
} 
.jc-string-regexp source-ruby-embedded {
    color: #157F88;
    background-color: #DDF5EF;
} 
.jc-string-regexp string-regexp-arbitrary-repitition {
    color: #157F88;
    background-color: #DDF5EF;
} 
.jc-string variable {
    color: #355C00;
    background-color: #335B001A;
} 
.jc-support-function {
    color: #00959E;
    background-color: #00959F1A;
} 
.jc-support-constant {
    color: #B23F1D;
    background-color: #FFFFFF;
} 
.jc-meta-preprocessor-c {
    color: #6D7987;
} 
.jc-meta-preprocessor-c keyword {
    color: #8497A9;
} 
.jc-meta-tag-sgml-doctype {
    color: #494949;
} 
.jc-meta-tag-sgml-doctype entity {
    color: #494949;
} 
.jc-meta-tag-sgml-doctype string {
    color: #494949;
} 
.jc-meta-tag-preprocessor-xml {
    color: #494949;
} 
.jc-meta-tag-preprocessor-xml entity {
    color: #494949;
} 
.jc-meta-tag-preprocessor-xml string {
    color: #494949;
} 
.jc-declaration-tag {
    color: #9F621D;
} 
.jc-declaration-tag entity {
    color: #9F621D;
} 
.jc-meta-tag {
    color: #9F621D;
} 
.jc-meta-tag entity {
    color: #9F621D;
} 
.jc-declaration-tag-inline {
    color: #8D561A;
} 
.jc-declaration-tag-inline entity {
    color: #8D561A;
} 
.jc-source entity-name-tag {
    color: #8D561A;
} 
.jc-source entity-other-attribute-name {
    color: #8D561A;
} 
.jc-meta-tag-inline {
    color: #8D561A;
} 
.jc-meta-tag-inline entity {
    color: #8D561A;
} 
.jc-meta-selector-css entity-name-tag {
    color: #316087;
    background-color: #5DB7FF33;
} 
.jc-meta-selector-css entity-other-attribute-name-tag-pseudo-class {
    color: #8F9D6A;
} 
.jc-meta-selector-css entity-other-attribute-name-id {
    color: #8B98AB;
} 
.jc-meta-selector-css entity-other-attribute-name-class {
    color: #9B703F;
} 
.jc-support-type-property-name-css {
    color: #C5AF7500;
} 
.jc-meta-property-group support-constant-property-value-css {
    color: #B2A86A;
} 
.jc-meta-property-value support-constant-property-value-css {
    color: #B2A86A;
} 
.jc-meta-preprocessor-at-rule keyword-control-at-rule {
    color: #8693A5;
} 
.jc-meta-property-value support-constant-named-color-css {
    color: #CA7840;
} 
.jc-meta-property-value constant {
    color: #CA7840;
} 
.jc-meta-constructor-argument-css {
    color: #8F9D6A;
    background-color: #FFFFFF;
} 
.jc-meta-diff {
    color: #F8F8F8;
    background-color: #0E2231;
} 
.jc-meta-diff-header {
    color: #F8F8F8;
    background-color: #0E2231;
} 
.jc-meta-separator {
    color: #F8F8F8;
    background-color: #0E2231;
} 
.jc-markup-deleted {
    color: #F8F8F8;
    background-color: #420E09;
} 
.jc-markup-changed {
    color: #F8F8F8;
    background-color: #4A410D;
} 
.jc-markup-inserted {
    color: #F8F8F8;
    background-color: #253B22;
} 
.jc-markup-list {
    color: #787249;
} 
.jc-markup-heading {
    color: #CF6A4C;
} 
